
.theme-default .nivoSlider {
    background: url("/js/nivo/themes/main/loading.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    position: absolute;
    top: -1px;
	height:375px;
}
.theme-default .nivoSlider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.theme-default .nivoSlider a {
    border: 0 none;
    display: block;
}
.theme-default .nivo-controlNav {
    right: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 9px;
    z-index: 1000;
	width:200px !important;
}
.theme-default .nivo-controlNav a {
    background: url("/js/nivo/themes/main/bullets.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: inline-block;
    height: 22px;
    margin: 0;
    text-indent: -9999px;
    width: 22px;
}
.theme-default .nivo-controlNav a.active {
    background-position: 0 -20px;
}
.theme-default .nivo-directionNav a {
    background: url("/js/nivo/themes/main/arrows.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
.theme-default a.nivo-nextNav {
    background-position: -30px 0;
    left: auto;
	right:15px;}
.theme-default a.nivo-prevNav {
    left: 15px;
}
.theme-default .nivo-caption {
    font-family: Tahoma,"Geneva CY",sans-serif;
    font-size: 14px;
	width:640px;
	bottom:auto;
	top:260px;
}
.theme-default .nivo-caption a {
    color: #fff;
	font-weight:normal !important;
}
.theme-default .nivo-caption a:hover {
    color: #fff;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: 5px;
    width: auto;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    height: auto;
    width: 120px;
}
.theme-default .nivo-caption .b-header_level_2 {
    color: #fff;
    font-size: 24px;
    margin-top: -5px;
    text-shadow: none;
}
.theme-default .nivo-caption p {
    font-size: 14px;
    text-shadow: 1px 1px 1px #000;
}
.hotel-group-photo .theme-default .nivo-controlNav {
    padding: 12px 7px 0 0;
}
