.display_form_m, .demo-1, .mobile_tel, .hotel_menu_mobile, .logo_mobile, .mobile_lang, .map_mobile_contacts_page {display:none;}
.map-detail span {display:none;}
.mobile_logo, .mobile_logo_in_hotel, .soc_link_mobile {display:none;}

@media (max-width: 990px) {
.demo-1 {display:block; }	
.display_f .demo-1 {position:absolute;}
.shadow_border, .clear_sep, .footer_menu, .mainmenu, .head_shadow, .head_social, .hotel_menu, .b-ivisa-banner {display:none;}	
.soc_link_mobile { display:block; }	
.hotels_slides .caroufredsel_wrapper {width:1130px !important;}
.hotels_slides .b-hotel-group-links__item {}
	
	
html {font-size:12px; -webkit-text-size-adjust: none; text-size-adjust:none}
body {line-height:1.8rem; min-width:300px !important; width:auto !important;}	
.wrap, .main {width:auto !important; min-width:280px;}	

.head {position: fixed; top:0; left:0; width:100%; z-index:270; height:120px; background: transparent; 	background-color: #faecdd;}
.head:after {background: transparent;}
.head .wrap {background:transparent;}
.display_f  .head {position:relative;}
	
.logo_h {display:none;}	
.logo_mobile {position:relative; left:auto; top:auto; width:150px; height:auto; margin:7px auto 0 auto; display:block;}
.hot_dynasty .logo_h {display:none;}
.mobile_logo_in_hotel {position:relative; left:auto; top:auto;  height:auto; margin:7px auto 0 auto; display:block; height:63px;}	
.head_tel {left:210px; top:7px; right:10px; width:auto; text-align:right; display:none;  }	
.head_tel .tel {font-size:1.4rem; margin-left:0;}
.head_tel .prim {margin-left:0; line-height:1rem; margin-top:5px;}

.b-page_type_hotel .logo_mobile {display:none;}

.head-tel_icon {display:none;}	

.lang {display:none;}	
.mobile_lang {top:12px; right:11px; width:27px; z-index:800; position:fixed; height:100px; z-index:2000; display:block;}
.mobile_lang .title {display:none;}	
.mobile_lang ul {width:30px; background:transparent; margin:0;}
.mobile_lang li {margin:0 0 5px 0; padding:0; float: none; list-style:none;}
.mobile_lang li a {width:30px; height:20px; opacity:0.5; display:block;}
.mobile_lang li a:hover {opacity:1;}
.mobile_lang .lang_ru a {background: url('/images/lang_mobile.png') no-repeat 0 0;}
.mobile_lang .lang_en a {background: url('/images/lang_mobile.png') no-repeat 0 -20px;}
.mobile_lang .lang_fr a {background: url('/images/lang_mobile.png') no-repeat 0 -40px;}
.mobile_lang .lang_de a {background: url('/images/lang_mobile.png') no-repeat 0 -60px;}
.mobile_lang .lang-active {background: transparent;}
.mobile_lang .lang-active a {opacity:1;}	
.display_f .mobile_lang {position:absolute;}
	
	
.b-hotel-logo {top:10px; position:relative; margin:0 auto; height:280px; display:none;}	
.b-hotel-logo .b-shadow {display:none;}
.b-hotel-logo .logo {display:none;}	
.b-hotel-logo .search-form {top:45px;}
.b-hotel-logo .address.search {padding-top:0;}
.b-hotel-logo .b-gradient {height:47px;}

.display_form_m {display:inline-block; color: #fff; padding:3px 13px;  text-decoration: none; cursor:pointer; font-size:1.2rem; margin:6px 0 4px 0;  background: linear-gradient(to top, #a50801, #f13833); border:1px solid #fff; border-radius:5px;}	
.body_scroll .display_form_m {
    padding:6px 20px;
    font-size:1.3rem;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
	
.hotel_slides {margin:0; height:auto;}	
.hotel_slides .wrap {
    margin: 0;
    height: auto;
    position: relative;
    width: 100%;
    border-bottom: 4px solid #822f2a;
    width: 100% !important;
    padding: 50px 0 0;
}
.display_f .hotel_slides .wrap {position:relative; top:0; margin-top:-3px;}

.hotel_slides .wrap {text-align:center;}	

.hotel_details {border:0; padding-left:10px; padding-right:10px;}	
	
.content {margin-top:0;}
.display_f .content  {margin-top:0;}

.content .wrap {display:flex; flex-flow: column wrap;}
.right_cont {order: 1; width:100%; float:none;}
.left_cont {order: 2; width:100%; float:none;}
.b-hotelmap {width: auto; padding-left: 15px;}

.hotel_details .b-divider {width:auto;}
.w-content-columns {width:auto !important;}

.page_hotel_descr .w-shadow img {width:100px !important; }
.page_hotel_descr table td {display:block;}
.page_hotel_descr .w-shadow {clear:left;}

/* pkl .b-img {width:100px !important;} */
.mbanner {width: 100% !important;}

.b-specoffers_page_second  .b-img {width:auto !important;}
.b-rooms-item__image.b-img {width:auto !important;} /* pkl , .page_fototur .b-img */


.content h1 {line-height:2.2rem;}
.page_hotel_descr .w-shadow {margin-right:10px; margin-bottom:5px;}
.page_hotel_descr ul {list-style-position:inside;}
.page_hotel_descr .img2 {clear:both;}
.page_main li.item .b-img {width:205px !important;}
.hotel_details .b-specoffers_page_second li, .hotel_details .b-specoffers_page_second li:first-child {margin:0px 20px 10px 0 !important;}
.hotel_details .b-specoffers_page_second li {display:inline-block; float:none !important;}

.b-page_type_hotel .b-specoffers_page_second.page_main {margin-top:10px; text-align:center;}

.b-page_type_hotel  .b-hotelmap {width:auto; margin-bottom:15px !important;}
.b-hotelmap .b-hotelmap__address br {display:none;}
.b-hotelmap .w-hotelmap {width:auto; height:200px;}

.customvirtual_tour {margin:0 auto; width:225px;}
.b-ivisa-banner {margin:10px auto;}

.hotels_slides {overflow:auto;}
.b-hotel-group-links__arrow {display:none !important;}

.b-hotel-group-links__container {width:1150px !important;}

.foot_banners {display:none; }
.foot_banners p {}
.foot_contacts {display:none;}
.footer_top {overflow:auto; margin-bottom:3px;}

.b-utils, .b-travelline-mobile {display:none;}
.copyright {margin:0 5px;}
.footer {padding-bottom:10px;}
.footer .wrap {padding-top:10px;}

#back-top {left:0 !important; right:auto !important; z-index:1000;}

.mobile_tel {display:block; float:right; position:relative; width:40px; height:40px; margin: 15px; z-index:1900;}

.readmone_mobile {
	background: rgba(0, 0, 0, 0) linear-gradient(to top, #223d88, #3d68e2) repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 20px 0;
    padding: 3px 13px;
    text-decoration: none;
	width:auto !important;
	display:inline-block !important;
}
.readmore-js-collapsed:after {
	background:url('../images/gr02.png') repeat-x 0 0;
 content: "";
    display: block;
    height: 150px;
    left: 0;
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.readmone_hide {margin-top:0;}

.mainpage_block1:after, .do_video:after, .posle_video:after {
    bottom: 0px;
}
.mainpage_block1, .do_video, .posle_video {position:relative;}
.nivoSlider {height:200px !important; width:100% !important;}
.b-slideshow {position:relative; width:100% !important;  min-width:1px !important;}
.b-page_type_hotel .b-slideshow, .b-slideshow {height:200px; margin:0;}
.display_f .b-page_type_hotel .b-slideshow, .display_f .b-slideshow {margin-top:0;}
.theme-default .nivo-directionNav {height:200px !important;}
.hotel_slides #slider img {height:200px !important;}	

#slider .nivo-caption {width:60%; height:75px; right:80px !important; bottom:15px !important; }
#slider .nivo-caption a {height:75px; font-size:1.2rem; line-height:1.4rem; font-style:normal;}
.nivo-controlNav {display:none !important;}

#map_canvas {display:none;}
#map-colorbox {position:relative; left:auto; height:auto; width:auto; margin:-5px 0 0px 20px; padding-bottom:10px;} 
#map-colorbox span {display:block;}

.main_slider {height:auto !important;}
.display_f .main_slider {margin-top:-48px;}
.main_slider .b-slideshow, .main_slider #slider {height:90px !important;}
.main_slider .wrap {
    margin: 0;
    height: auto;
    position: relative;
    width: 100%;
    border-bottom: 4px solid #822f2a;
    width: 100% !important;
    padding: 80px 0 0;
}
.display_f .main_slider .wrap {position:relative; top:0;}	

.b-search-form {margin:0 auto; max-width: 100%;}
.main_slider #slider {top:0; }
.main_slider .nivo-directionNav a {top:39%; z-index:2000;}
.main_slider #slider  .nivo-caption {top:auto !important; bottom:10px !important;}
.main_slider .nivo-caption a  {height:50px;}

.sp_offers {background:transparent !important; height:auto !important; display:none; }

.sp_offers .list {text-align:center;}
.sp_offers .list .item {margin-bottom:10px; float:none; display:inline-block; margin:0 10px 5px 0 !important;}

.main_content_bottom .b-a2b {float:none; width:auto; margin-top:0;}
.mainpage .content {padding:20px 20px 0 20px;}
.mainpage .content .wrap {display:block;}

.b-hotel-group {text-align:center;}
.b-hotel-group .b-clear {display:none;}
.b-hotel-group .item {float:none; display:inline-block; vertical-align:top; height:300px;}

.main_content_bottom iframe {width:90% !important; height:200px !important;}
.main-content .text {margin:10px 0;}
.right_main_cont {float:none; margin:0 0 20px 0; width:auto; text-align:center;}
.mozh-banner {border:0;}
.b-shadow-borders {background:transparent;}
.b-official-groups .b-divider {display:none; }
.b-official-groups {text-align:center;}
.b-official-groups .big-map-colorbox {margin:10px auto 0 auto !important;}

.other_page_mobile {display:flex; flex-flow: column;}
.other_page_mobile .left_cont {order:1;}
.other_page_mobile .right_cont {order:2;}
.other_page_mobile .b-specoffers_page_second {display:none;}


.other_page_mobile .left_cont {  position: fixed;
    border-bottom: 4px solid #822f2a;
    height: auto;
    left: 0;
    margin: 0;
    padding-bottom: 5px;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 700;
	text-align:center;    position: relative;
}

.other_page_mobile .b-search-form {margin:0 auto;}

.display_f .other_page_mobile .left_cont {
    margin-top: -48px;
    position: relative;
    top: 0;
}

.other_page_mobile .right_cont {margin-top:120px; display: inline-table;}
.display_f .other_page_mobile .right_cont {margin-top:0;}

.hotel-group-photo .nivoSlider {height:100px !important;}

.other_page_mobile h1 {margin-left:10px; margin-right:10px;}
.other_page_mobile .breadcrumbs {margin:10px 10px 0 10px;}
.w-text .w-content-columns {display:block; z-index:10;}

.b-category_type_specoffers {vertical-align:top; text-align:center;}
.b-category_type_specoffers .b-category__subheader {margin-bottom:5px; margin-top:5px; line-height:1.2rem;}

.b-category_type_specoffers .b-category__item {float:none; display:inline-block; vertical-align:top;}
.b-category_type_specoffers .b-clear {display:none;}
.b-category_type_specoffers .special-offer-img {margin-bottom:10px;}

.page_contacts_page .b-hotels-contact>div.clearfix {display:none;}
.page_contacts_page .b-hotels-contact .w-hotel-contactmain {float:none; display:block; overflow:hidden; width:auto; padding-left:0;}
.page_contacts_page .b-hotels-contact {text-align:center;}
.page_contacts_page .w-hotel-contact {float:none; display:inline-block; vertical-align:top; text-align:left;}

.w-hotel-advantage+div.clearfix {display:none;}
.w-hotel-advantage {
  float: left;
  position: relative;
  width: 90%;
  min-height: 80px;
  padding: 0 0 15px 15px;
  font-family: Tahoma, "Geneva CY", sans-serif;
  font-size: 11px;
  z-index: 0;
  margin: 25px 0 0 17px;
  text-align: left;
}
.w-hotel-advantage img {
   margin: 10px;
   float: left;
}
.w-hotel-advantage p {
   margin-top: 20px;
}


.b-category_type_contacts iframe {width:99% !important;}
.contacts-item.social .skype {margin-left:0;}
.contacts_page .b-category__item {padding:0;}

.contacts-item {float:none !important; margin:0 auto !important; overflow:hidden;}
.contacts-item.phone {margin-bottom:15px !important;}
	
.other_page_mobile .b-category__item .b-category__left {float:none; width:auto; overflow:hidden; margin-bottom:15px;}
.other_page_mobile .b-category__item .b-category__right {float:none; width:auto; margin-left:10px;}
.other_page_mobile .b-category {margin:0 10px;}
.b-reservation-all__text {margin-left:0;}
.other_page_mobile .b-category__item .b-hotel-info {float:none; clear:both; padding-top:10px;}

.b-rooms-list .title_rooms {clear:both; margin:0 !important;}
.b-rooms-list .b-rooms-item__description {clear:both; margin:0 !important;}
.b-rooms-list .w-shadow {margin:10px 0 !important;}
.b-specoffers_page_second .list {text-align:center; overflow:hidden; padding-bottom:10px;}
.b-specoffers_page_second .list li {float:none !important; display:inline-block;}
.b-rooms-item__book {clear:both;}

.b-table_price_rooms {margin-top:15px; overflow-x: auto; display: block;}

.b-book-button span  {white-space:nowrap;}
.b-table_price_rooms th, .b-table_price_rooms td {padding:5px 3px !important;}
.b-table__popup {display:none !important;}	

.b-restaurant__left .w-shadow {margin-bottom:15px;}
.b-restaurant__right {float:none; width:auto; margin:0 10px;}		
.b-restaurant__left	{float:none; width:auto; margin-bottom:10px;}

.b-bubblebox__top, .b-bubblebox__bottom {width:290px;}
.b-bubblebox__body {width:260px;}	
	
.b-bubblebox__body, .b-bubblebox__top, .b-bubblebox__bottom {background-size:contain !important;}	
.b-bubblebox__top {height:7px !important;}
.b-bubblebox__body {margin-top:-1px !important;}

.b-hotel-photogallery {text-align:center;}	
.b-hotel-photogallery .section-item {margin:0 20px; float:none; display:inline-block; vertical-align:middle;}

.b-category_type_specoffers .b-category__item {margin-right:15px;}

.other_page_mobile td img.b-img {width:100px !important;}	
	
.hotel_menu_mobile {position:relative; background:#fff url("/images/hotel_menu_bg.png") repeat-x 0 100%; display:block; border-top: 4px solid #822f2a; padding:4px 5px 12px 4px;}	
.hotel_menu_mobile ul {}
.hotel_menu_mobile li {display:inline-block; font-size: 12px; line-height: 18px; margin:3px 5px; list-style:none; background: linear-gradient(to top, #223d88, #3d68e2); padding:3px 7px; border-radius:3px;}	
.hotel_menu_mobile li a {color:#fff; text-decoration:none;}
.hotel_menu_mobile li.active {font-weight:bold;}
.hotel_menu_mobile li br {display:none;}	
	
.body_scroll .mobile_lang, .body_scroll .mobile_logo_in_hotel, .body_scroll .logo_mobile {display:none;}
.body_scroll .hotel_slides .wrap {top:15px; background: transparent !important; padding-bottom:13px;}
.body_scroll .mobile_tel {left:auto; right:10px; position:fixed;}
.display_f .mobile_tel {position:absolute;}
.body_scroll .head {height:70px; }	
.body_scroll.display_f .hotel_slides {margin-top:-70px; z-index: 1001;}
.body_scroll .main_slider .wrap {top:15px; background: transparent !important; padding-bottom:13px;}
.body_scroll .b-page_type_hotel .b-slideshow, .body_scroll .b-slideshow {margin-top:72px;}
.body_scroll.display_f  .b-slideshow {margin-top:17px !important;}	
.body_scroll.display_f .main_slider {margin-top:-70px; z-index: 1001;}
.body_scroll .other_page_mobile .left_cont {top:15px; background: transparent !important; z-index:1000; padding-bottom:13px;}
.body_scroll.display_f .other_page_mobile .left_cont {margin-top:-70px;}

.body_scroll .other_page_mobile .right_cont {margin-top:65px;}
.body_scroll.display_f .other_page_mobile .right_cont {margin-top:10px;}
	
.no_rel_cont, .no_rel_cont .wrap {position:static;}	
	
.display_f .head {background:transparent;}	
.display_f .hotel_slides {margin-top:-45px;}
body.cbox-open {
  overflow: hidden !important;
  position: relative !important;
}	
.b-specoffers_page_second {z-index:100;}

.map_mobile_contacts_page {display:block;}
.map_mobile_contacts_page img {width:100%;}
iframe.contacts_page_map, .b-category_type_contacts iframe {display:none;}

.b-category_type_specoffers .b-img {width:auto !important;}

#vk_groups {width:270px !important; margin-bottom:25px;}
#vk_groups iframe {height:100% !important;}

}

@media (max-width: 350px) {
.main_slider .b-slideshow, .main_slider #slider {height:90px !important;}

}



@media (max-width: 990px) and (min-width: 500px) {
	.cboxPhoto {width:450px !important; height:auto;}
}
@media (max-width: 450px) and (min-width: 350px) {
.main_slider .b-slideshow, .main_slider #slider {height:100px !important;}
.hotel-group-photo .nivoSlider {height:120px !important;}

}
@media (max-width: 550px) and (min-width: 450px) {
.main_slider .b-slideshow, .main_slider #slider {height:120px !important;}
.hotel-group-photo .nivoSlider {height:130px !important;}

}
@media (max-width: 750px) and (min-width: 550px) {
.main_slider .b-slideshow, .main_slider #slider {height:150px !important;}
.hotel-group-photo .nivoSlider {height:140px !important;}

}
@media (max-width: 990px) and (min-width: 550px) {
.nivoSlider, .b-page_type_hotel .b-slideshow, .theme-default .nivo-directionNav, .hotel_slides #slider img, .b-slideshow  {height:300px !important;}
}
@media (max-width: 990px) and (min-width: 900px) {
.nivoSlider, .b-page_type_hotel .b-slideshow, .theme-default .nivo-directionNav, .hotel_slides #slider img, .b-slideshow, .main_slider #slider {height:400px !important;}	
}
@media (max-width: 990px) and (min-width: 750px) {
.main_slider .b-slideshow, .main_slider #slider {height:180px !important;}
.hotel-group-photo .nivoSlider {height:200px !important;}

}

@media screen and (max-width: 768px) {
	.slider-wrapper {
		display: none !important;
	}
}