/*  grid ---------------------------------------------------------------------------------------------------------------------- */
html{height:100%; background:#fff;}
body{min-height:100%; height:100%; -webkit-font-smoothing:subpixel-antialiased !important; font-family: Tahoma,"Geneva CY",sans-serif;}
.main{min-height:100%; height:auto !important; height:100%; overflow:hidden; background-color:#f0f0f0;}
.wrap{margin:0 auto; width:960px; position:relative;}


/* header ---------------------------------------------------------------------------------------------------------------------- */
.head{background: linear-gradient(to bottom, white 0%, #e6e6e6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border-top: 3px solid #1c3f9e;  height:138px; position:relative;}
.head:after {background: url("/images/shadow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); position:absolute; bottom:-10px; left:0; width:100%; content:""; height:10px;}
.head .wrap {background: url("/images/main_decor.png") no-repeat scroll 50% 54px rgba(0, 0, 0, 0); height:88px;}

.logo_h {position:absolute; width:237px; height:103px; top:-6px; left:0; z-index:1003;}
.head_tel {float:right; position:relative; width:220px; top:14px; }
.head_tel .tel {color: #1c3f9e; font-family: 'PT Sans', sans-serif; font-size: 24px; margin: 0 0 5px 40px;}
.head_tel .prim {color: #96836c;font-family: Tahoma,"Geneva CY",sans-serif; font-size: 11px; margin:-3px 0 0 40px;}
.head-tel_icon { background: url("/images/sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 26px; width: 29px; position:absolute; top:0; left:0;}

.head_social {position:absolute; top:14px; width:220px; left:570px;}
.head_skype {overflow:hidden; margin-bottom:12px;}
.head_skype .skype_ico { background: url("/images/sprite.png") no-repeat scroll -29px 0 rgba(0, 0, 0, 0); height: 26px; width: 29px; display:inline-block; vertical-align:middle;}
.head_skype .number {color: #1c3f9e; display: inline-block;font-family: Georgia,"Century Schoolbook L",serif; font-size: 16px; margin: 0 0 0 5px;  text-decoration: none; vertical-align:middle;}

.head_skype .vkont {background: url("/images/contacts_sprite.png") no-repeat scroll -31px -46px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    width: 20px;}
.soc_link a { display: inline-block; height: 20px; margin: 0 8px 0 0; width: 20px; background-image: url("/images/contacts_sprite.png"); }
.soc_link .vkont {background-position: -31px -46px;}
.soc_link .facebook {background-position: -63px -46px;}
.soc_link .odnoklassniki {background-position: -95px -46px;}
.soc_link .instagram {background-position: -63px -80px;}
.soc_link .wapp {background-position: -31px -80px;}
.soc_link .youtube {background-position: -120px -80px;}
.soc_link .tiktok {background-position: -120px -46px;}
.soc_header { padding: 10px; }

.lang {position:absolute; width:65px; right:9px; top:18px;} /* pkl -old: width:130px; */
.lang .title {color: #96836c; font-family: Tahoma,"Geneva CY",sans-serif; font-size: 11px; margin: 0 0 5px; white-space:nowrap;}
.lang ul {background: url("/images/lang_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 23px;padding: 3px 1px; width: 65px;} /* pkl -old: width:130px; */
.lang li {list-style:none;  float: left;margin: 0 0 0 2px;padding: 2px 3px 3px 3px;}
.lang li a {display: block; height: 18px;width: 24px; margin-top:1px;}
.lang .lang_ru a {background: url("/images/lang_sprite.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);}
.lang .lang_en a {background: url("/images/lang_sprite.png") no-repeat scroll -24px -30px rgba(0, 0, 0, 0);}
.lang .lang_de a {background: url("/images/lang_sprite.png") no-repeat scroll -72px -30px rgba(0, 0, 0, 0);}
.lang .lang_fr a {background: url("/images/lang_sprite.png") no-repeat scroll -48px -30px rgba(0, 0, 0, 0);}
.lang .lang-active {background: url("/images/lang_sprite.png") no-repeat scroll -132px 0 rgba(0, 0, 0, 0);}


.mainmenu {height:50px; max-width: 1245px; background: linear-gradient(to bottom, #3f69e6 0%, #1f3981 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); margin:0 auto; z-index:1000; position:relative;}
.mainmenu>ul {width:935px; padding-left: 155px; margin:0 auto;}
.mainmenu>ul>li {list-style:none; float:left; padding:0; margin: 9px 0 0 0; position:relative;}
.mainmenu>ul>li:last-child {margin-right:0;}
/* .mainmenu>ul>li:nth-child(4) {background: url("/images/menu/spec1.png") no-repeat scroll right} */
.mainmenu>ul>li.active {background: url("/images/menu-selected.png") no-repeat scroll right -31.3px rgba(0, 0, 0, 0);
    padding-right: 5px !important;}
.mainmenu>ul>li.active>a {background: url("/images/menu-selected.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #1c3f9e;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0 16px 0 20px;
	}
.mainmenu>ul>li.active>a>span {border:0;}

.mainmenu>ul>li>a{
    color: #ffffff;
    display: block;
    font-family: Tahoma,"Geneva CY",sans-serif;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    margin: 5px 10px 0 15px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 0 1px #93a1cb;
    text-transform: uppercase;
    vertical-align: middle;}
.mainmenu>ul>li>a>span, .mainmenu>ul>li.active.parent>a>span {border-bottom: 1px dotted #ffffff; padding-bottom:1.5px;}

.mainmenu>ul>li:hover>a span, .mainmenu>ul>li.active.parent:hover>a>span {border:0;}
.mainmenu ul ul {position:absolute;  background: url("/images/wrap-body-root.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    padding: 6px 0;
    width: 171px; top:34px; display:none; z-index:256;}
.mainmenu ul ul li {list-style:none; padding: 0 10px 0 11px;}
.mainmenu ul ul li a { color: #634b2f;display: block; font: 14px/40px Tahoma; height: 40px; padding: 0 10px;text-decoration: none; width: 130px;}
.mainmenu>ul>li.parent.item-113>a, .mainmenu>ul>li.parent.item-253>a, .mainmenu>ul>li.parent.item-337>a, .mainmenu>ul>li.parent.item-411>a {margin: 0; padding: 0;  width:84px;  height:31px; line-height:31px; background:transparent; color:#fff;}
.mainmenu>ul>li.parent.item-113:hover>a, .mainmenu>ul>li.parent.item-253:hover>a, .mainmenu>ul>li.parent.item-337:hover>a, .mainmenu>ul>li.parent.item-411:hover>a {background: url("/images/menu-parent.png") no-repeat scroll left 0 rgba(0, 0, 0, 0); color: #1c3f9e;}
.mainmenu ul ul:before { background: url("/images/wrap-top-root.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 5px;
    width: 171px; position:absolute; top:-5px; left:0; content:"";}
.mainmenu ul ul:after {background: url("/images/wrap-bottom-root.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 4px;
    width: 171px; position:absolute; bottom:-4px; left:0; content:"";}
.mainmenu ul ul li a:hover, .mainmenu ul ul li.active a {
    background: url("/images/item-hover-section.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
}

.mainmenu>ul>li.active.parent.item-113, .mainmenu>ul>li.active.parent.item-253, .mainmenu>ul>li.active.parent.item-337, .mainmenu>ul>li.active.parent.item-411  {background:transparent;}
.mainmenu>ul>li.item-185 ul, .mainmenu>ul>li.item-312 ul, .mainmenu>ul>li.item-394 ul, .mainmenu>ul>li.item-468 ul {display:none !important;}

.content {margin:25px 0 0 0; position:relative; z-index:250;}
.content .wrap {position:relative;}
.left_cont {float:left; width:230px; }
.right_cont {width:715px; float:right;}

.breadcrumbs {font-family: Tahoma,"Geneva CY",sans-serif; font-size: 11px; color:#000; padding:0; margin:0 0 5px 0;}
.breadcrumbs li {display:inline; margin:0; padding:0;}
.breadcrumbs a {color:#1c3f9e;}
.breadcrumbs span { color: #634b2f; font-size: 12px; font-weight: bold; padding: 0 5px;}

.content h1 {  color: #000000; font-family: 'PT Sans', sans-serif; font-size: 22px; font-weight: bold; line-height: 36px;  margin: 0 0 16px;}

.hotels_slides {position:relative; height:100px; overflow:hidden; background-color:#fff; border-top:1px dotted #998670;}
.hotels_slides .wrap {width:1000px; height:100px;}

.footer_menu { background: url("/images/footer-menu.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height: 44px; position:relative;}
.footer_menu:after {position:absolute; left:0; bottom:-10px; width:100%; content:""; background: url("/images/shadow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height: 10px; z-index:101; }
.footer_menu .wrap {}
.footer_menu ul {}
.footer_menu ul li {list-style:none; float: left; height: 44px; line-height: 38px; padding: 0 23px;}
.footer_menu ul li a {border-bottom: 1px dotted #ffffff; color: #ffffff; font-family: Tahoma,"Geneva CY",sans-serif;  font-size: 12px; line-height: 38px; text-decoration: none;}
.footer_menu ul li a:hover, .footer_menu ul li.active a {border:0;}

.footer {background:#f0f0f0; border-top: 1px dotted #96836c; font-family: 'PT Sans', sans-serif; padding-bottom:25px;}
.footer .wrap {padding-top:19px; width:980px;}
.footer_top {overflow:hidden; position:relative; margin-bottom:25px; }

.foot_contacts {float: left; font-size: 11px; margin-top: 3px;
    width: 194px; line-height: 16px;}
.foot_contacts p {line-height: 16px; margin:0;}
.foot_contacts .tel {color: #1c3f9e;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 13px;}

.foot_banners {float:left; width:610px;}
.foot_banners img {vertical-align:middle; margin:0 8px 10px 8px; height: 80px; width: 80px; }
.foot_banners p {display:inline; margin:0; padding:0;}
.copyright {font-size:11px;}

.hotel_slides {max-width:1245px; margin:0 auto -60px auto; overflow:hidden; position:relative; height:499px;}
.shadow_border {background: url("/images/shadow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height:10px; position:absolute; left:0; width:100%; top:639px; }
.hotel_slides #slider img {width:auto !important; height:auto !important;}

.b-hotel-logo {
    width:225px;
	position:absolute;
	z-index:201;
	top:37px;
	left:0;
    text-align: center;
}

.hotel_slides .wrap {}

.hotel_menu {right:0;
    position: absolute;
    top: 37px;
    width: 715px;
    z-index: 203;
	border-top: 4px solid #822f2a;
	}

.hotel_menu_inner {background: url("/images/hotel_menu_bg.png") repeat-x scroll 0 -1px rgba(0, 0, 0, 0);	height:60px; margin:0 6px 0 6px; }

.hotel_menu:before {position:absolute; content:""; background: url("/images/hotel_menu_bigborders.png") no-repeat scroll 0 -2px rgba(0, 0, 0, 0); width:10px; height:60px; left:-4px; top:0;}

.hotel_menu:after {position:absolute; content:"";background: url("/images/hotel_menu_bigborders.png") no-repeat scroll 100% -70px rgba(0, 0, 0, 0); width:10px; height:60px; right:-4px; top:0;}


.hotel_menu ul { padding-left:5px; width:100%; position:relative; z-index:1000;  display:table; }
.hotel_menu li {list-style:none; display:table-cell; text-align:center; height:50px; vertical-align:middle; text-transform:uppercase; padding:0; width:1%; }
.hotel_menu li a {font-family: Tahoma,"Geneva CY",sans-serif; font-size: 14px; font-family: Tahoma,"Geneva CY",sans-serif; font-size: 14px; text-decoration:none; line-height:16px; display:block; position:relative; white-space:nowrap;}
.hotel_menu li:last-child {padding-right:3px;}
.hotel_menu li a:hover {text-decoration:underline;}
.hotel_menu li.word_wrap {width:100px;}
.hotel_menu li.active a {background-color: #790606; border-radius: 4px; box-shadow: -1px -1px 0 0 #c8c4c2; padding-top:6px !important; padding-bottom:6px !important; color:#fff; text-decoration:none;}
.hotel_menu li a span {font-size:13px;}
.hotel_menu li a.big_link {padding-top:3px !important;  padding-bottom:3px !important;}

@media all and (-ms-high-contrast:none)
     {
     .hotel_menu li  { width: auto }
     *::-ms-backdrop, .hotel_menu li  { width: auto }
     }

.clear_sep {overflow:hidden; height:30px; clear:both; position:relative;}

.hotel_details {background: url("/images/hotel_content_bg.png") repeat-x scroll 0 0 #f0f0f0;
    min-height: 300px;
    padding: 15px 20px 0 20px;
    position: relative; border-top: 3px solid #1c3f9e;}

.hotel_details:before {position:absolute; content:""; top:-15px; left:-10px; background: url("/images/hotel_content_borders1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); width:10px; height:230px;}
.hotel_details:after {position:absolute; content:""; top:-15px; right:-10px; background: url("/images/hotel_content_borders1.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0); width:10px; height:230px;}

.shadow_border {background: url("/images/shadow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height:10px; position:absolute; }

.main_slider {max-width:1245px; margin:0 auto; position:relative; height:375px; overflow:hidden;}

.sp_offers {position:relative; max-width:1245px; margin:-1px auto 0 auto; background: url("/images/actions-bg-en.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height:134px; padding-top:11px; z-index:156;}

#offers_rus {background: url("/images/actions-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);}

.clear_z {clear:both; position:relative; overflow:hidden; height:1px;}

.main_content_bottom {position:relative; }
.main_content_bottom .b-a2b {float:left; /* pkl width: 716px; */ position: relative; margin-top:20px;}

.right_main_cont {float: right; width: 225px; margin-top: -688px; } // pkl margin-top: -344px;

.hotel_details .b-divider {margin: 0 0 20px -20px; width: 715px; }
.sp_offers .w-anonce {  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 217px;
  min-height: 40px;
  display:table;
}

.sp_offers .list .item .anonce {
  background: url(/images/overlay.png) 0 bottom repeat; // pkl no-repeat;
  display:table-cell;
  font-family: Tahoma, "Geneva CY", sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 0 10px 0 10px;
	height:40px;
	vertical-align:middle;
  }
// pkl
.sp_offers .list .item:hover .anonce {
//  background-position: -217px bottom;
  height: 120px;
}

.sp_offers .w-anonce:hover {
  height: 120px;
}

.contacts_page .right_cont .b-divider {display:none;}

.b-category_type_contacts iframe {border:0; border: 3px solid #fff;}
.contacts_page .b-category__item {padding-top:10px;}

.left_cont_other_page .b-itransfer-banner { margin:5px 0 15px 0;}
.left_cont_other_page .b-specoffers_page_second {margin:15px 0;}

.hotel_details .b-specoffers_page_second li:first-child {margin:0 !important;}
.hotel_details .b-specoffers_page_second .anonce {font-size:11px; line-height:14px;}

.left_cont .b-specoffers_page_second {margin-bottom:5px;}

.news_gallery {text-align:center; margin:15px 0;}
.news_gallery img {vertical-align:middle; height:118px;}

.add_article {font-size:14px; margin-bottom:20px;}
#login-form .control-group {margin:10px 0;}
#login-form input[type="text"], #login-form input[type="password"] {width:150px; margin-left:10px;}
.edit-icon {display:none;}

.details_room_descr .b-book-button_margin_bottom {margin-bottom:5px;}
.title_rooms {margin:0 0 4px 245px;}
.b-rooms-list .b-rooms-item p {margin:0 0 0 245px;}
.b-rooms-list .w-shadow {margin-top:-25px !important;}

.page_details_room .w-shadow {margin:2px 22px 20px 0;}
.page_details_room .b-rooms-item__divider {clear:both; margin-bottom:20px;}

@media only screen and (max-width: 1100px) {
.nivo-caption {right:290px !important;}
.theme-default .nivo-controlNav {left:350px !important;}
.main_slider .theme-default .nivo-controlNav {left:auto !important; right:230px !important;}
}
.b-table_price_rooms .b-table__caption {text-decoration:none; cursor:pointer;}
.list-vacans {list-style-position:inside;}

.vacancy_form {}
.vacancy_form .formField {float:left; width:47%; margin-bottom:15px;}
.vacancy_form input[type="text"], .vacancy_form textarea, .vacancy_form select {border: 1px solid #f2e4d6;
    border-radius: 2px;
    padding: 0;
    width: 257px;}
.vacancy_form input[type="text"] {height: 22px;}
.vacancy_form textarea {height:90px;}
.vacancy_form option {height: 22px;}
.vacancy_form .formError {display:none;}
.vacancy_form label {display:block !important;}
.vacancy_form .clr {clear:both;}
.vacancy_form .rsform-block-dop-info, .vacancy_form .rsform-block-send {float:none; width:auto;}
.vacancy_form .rsform-block-dop-info textarea {width:592px;}
.vacancy_form input[type="submit"] { background: rgba(0, 0, 0, 0) linear-gradient(to top, #27469b, #3c65dd) repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    height: 28px;
    width: 173px; border:0;}

.zaiv_title {
    color: #96836c;
    text-align: center;
}
