.b-hotel-logo .logo {
    display: block;
    min-height: 92px;
}

.b-hotel-logo .address {
    position: relative;
    font: 12px/15px Tahoma;
    color: #96836c;
    text-align: center;
    padding: 5px 0 5px 0;
}

.w-border {
    width: 100% !important;
    max-width: 90000px !important;
}

.w-menu {
    width: 1245px !important;
    left: 124px !important;
}

.theme-default .nivoSlider {
    left: 1px !important;
}

.theme-default .nivo-controlNav {
    width: 583px !important;
}

.theme-default a.nivo-prevNav {
    left: 15px !important;
}

/* á?àÌàÅàÅàÍá?á?àÈá?á? á?àÈá?àÈàÍá? á?àËàÀàÉàÄá?àÎá? àÍàÀ á?á?àÀá?àÍàÈá?àÀá? àÎá?àÅàËàÅàÉ */

/*.w-menu.hotel-group-page {
    position: absolute;
    top: 65px;
    left: 264px;
}
.hotel-group-page .b-menu {
    margin: 0 0 0 232px;
}
.hotel-group-page .b-menu__item {
    margin: 0 0 0 19px;
}
.hotel-group-page .b-menu-inner__link {
    font-size: 12px;
    text-transform: none;
}*/
.b-menu-inner_type_hotel {
    width: 715px;
    height: 60px;
    position: absolute;
    top: 175px;
    left: 510px;
    z-index: 1001;
}

.b-menu-inner__list {
    height: 60px;
    margin: 0 10px;
    background: url(/images/hotel_menu_bg.png) 0 -1px repeat-x;
}

.b-menu-inner_hotel_amsterdam {
    border-top: 4px solid #9e274c;
}

.b-menu-inner_type_hotel .b-menu-inner__item {
    margin: 0;
    height: 57px;
    line-height: 50px;
}

.b-menu-inner__list_hotel_dynasty .b-menu-inner__item {
    padding: 0 0px;
}

.b-menu-inner__list_hotel_alexander .b-menu-inner__item {
    padding: 0;
}

.b-menu-inner__list_hotel_alexander .b-menu-inner__link {
    padding: 0 0px;
}

.b-menu-inner__list_hotel_amsterdam .b-menu-inner__item {
    padding: 0 0px;
}

.b-menu-inner__list_hotel_regina .b-menu-inner__item {
    padding: 0 0px;
}

.b-menu-inner__list_hotel_eurasia .b-menu-inner__item {
    padding: 0 0px;
}

.b-menu-inner__list_hotel_vintage .b-menu-inner__item {
    padding: 0 0px;
}

.b-menu-inner_type_hotel .b-menu-inner__item_border_left {
    width: 14px;
    margin: 0 0 0 -14px;
    padding: 0;
    background: url(/images/hotel_menu_bigborders.png) 0 -2px no-repeat;
}

.b-menu-inner_type_hotel .b-menu-inner__item_border_right {
    width: 14px;
    float: right;
    margin: 0 -14px 0 0;
    padding: 0;
    background: url(/images/hotel_menu_bigborders.png) 100% -70px no-repeat;
}

.b-menu-inner_type_hotel .b-menu-inner__link {
    color: #9e274c;
    text-shadow: 0 0 1px #ffffff;
    height: 57px;
    line-height: 50px;
}

.b-slideshow__amsterdam {
    background: url(/images/amsterdam_main_1.jpg) 0 -1px no-repeat;
}

/* á?á?àÈàËàÈ á?á?á?àÀàÍàÈá?á? àÎá?àÅàËàÅá? */
.b-page_type_hotel .b-content__left {
    width: 225px;
    padding: 0;
}

.b-page_type_hotel .b-content__right {
    width: 675px;
    padding: 12px 20px 0 20px;
    position: relative;
    background: #faecdd url(/images/hotel_content_bg.png) repeat-x;
    /*margin-top: -355px;*/
    margin: 0;
    min-height: 500px;
}


.b-page_type_hotel .b-specoffers_page_second .page_main {
    margin: 20px 0 0 0;
}

.b-page_type_hotel .b-slideshow {
    margin-bottom: -160px;
}

.b-page_type_hotel .b-content__right .b-shadow-borders_side_left {
    left: -7px;
    top: -3px;
    background: url(/images/hotel_content_borders1.png) no-repeat;
}

.b-page_type_hotel .b-content__right .b-shadow-borders_side_right {
    right: -7px;
    top: -3px;
    background: url(/images/hotel_content_borders1.png) no-repeat;
    background-position: 100% 0;
}

.b-page_type_hotel .b-content__right .b-divider {
    width: 715px;
    margin: 0 0 20px -20px;
}

.b-page_type_hotel .b-content__right.b-content__right_mainpage_true {
    margin-top: 0;
}

.b-breadcrumbs_style_amsterdam .b-breadcrumbs__link {
    color: #9e274c;
}

.b-guestbook {
    font-family: Tahoma, "Geneva CY", sans-serif;
}

.b-guestbook .review {
    padding: 0 0 20px 0;
    line-height: 18px;
    font-size: 12px;
    color: #151515;
}

.b-guestbook_hotel_amsterdam {

}

.guestbook_hotel_amsterdam {

}

.b-category_type_guestbook {

}

.b-guestbook_hotel_amsterdam .b-category__header .b-link {
    color: #9e274c;
    font-size: 20px;
}

.b-guestbook_hotel_amsterdam .b-category__item {
    border: none;
    background: none;
}

.b-pagination.b-pagination_hotel_amsterdam {
    background: none;
    border: none;
}

.b-pagination.b-pagination_hotel_amsterdam .b-shadow-borders {
    display: none;
}

.b-pagination.b-pagination_hotel_amsterdam .news-select {
    border: 1px solid #e0dcd7;
}

.review-border {
    background: url(/images/separator_bg.png) repeat-x;
    width: 100%;
    height: 1px;
}

.b-pagination.b-pagination_hotel_amsterdam .b-pagination__page_state_active {
    background: url(/images/paginator_sprite.png) -68px -2px no-repeat;
}

.b-add-review {
    border-top: 3px solid #96836c;
    position: relative;
    padding: 0 20px;
}

.b-add-review .b-shadow-borders {
    width: 243px;
    height: 126px;
    background: url(/images/shadow_borders.png) no-repeat;
    position: absolute;
    top: -3px;
    left: -9px;
    z-index: -1;
}

.b-add-review .right-shadow {
    width: 10px;
    height: 126px;
    background: url(/images/shadow_borders.png) 100% 0 no-repeat;
    position: absolute;
    top: -3px;
    right: -9px;
    z-index: -1;
}

.b-add-review .left-shadow {
    right: -9px;
    width: 10px;
    height: 126px;
    background: url(/images/shadow_borders.png) no-repeat;
    position: absolute;
    top: -3px;
    left: -9px;
    z-index: -1;
}

.b-add-review .data-table td {
    font-size: 12px;
    color: #151515;
}

.b-add-review .data-table input {
    border: 1px solid #e0dcd7;
    border-radius: 1px;
    background: url(/images/input_bg.gif) no-repeat;
}

.b-add-review .data-table textarea {
    border: 1px solid #e0dcd7;
    border-radius: 1px;
    background: url(/images/input_bg.gif) no-repeat;
}

.b-add-review textarea {
    width: 375px;
    height: 80px;
    margin: 0 0 14px 0;
}

.b-add-review input {
    height: 20px;
    width: 270px;
}

.b-add-review input[name=captcha_word] {
    height: 25px;
    width: 120px;
}

.b-add-review img[alt=CAPTCHA] {
    margin: 0 15px 0 0;
}

.b-hotel-photogallery .section-list {
    margin: 0 -20px 0 -23px;
}

.b-hotel-photogallery .section-item {
    list-style-type: none;
    float: left;
    margin: 0 0 20px 20px;
    min-height: 135px;
    width: 215px;
}

.b-hotel-photogallery .section-item .b-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    -webkit-box-shadow: 0px 3px 3px #dcdad8;
    -moz-box-shadow: 0px 3px 3px #dcdad8;
    box-shadow: 0px 3px 3px #dcdad8;
    top: 0;
    left: -1px;
    z-index: 0;
    border: none;
    font-style: normal;
}

.b-hotel-photogallery .section-item .b-shadow.b-shadow-bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    -webkit-box-shadow: 0px 3px 5px #b1aba6;
    -moz-box-shadow: 0px 3px 5px #b1aba6;
    box-shadow: 0px 3px 5px #b1aba6;
    top: 1px;
    left: 0;
    z-index: 0;
    border: none;
    font-style: normal;
}

.b-hotel-photogallery .section-item .b-shadow.b-shadow-left {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    -webkit-box-shadow: -1px 0 3px #b1aba6;
    -moz-box-shadow: -1px 0 3px #b1aba6;
    box-shadow: -1px 0 3px #b1aba6;
    top: 1px;
    left: 1px;
    z-index: 0;
    border: none;
    font-style: normal;
}

.b-hotel-photogallery .section-item .b-shadow.b-shadow-right {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    -webkit-box-shadow: 1px 0px 3px #b1aba6;
    -moz-box-shadow: 1px 0px 3px #b1aba6;
    box-shadow: 1px 0px 3px #b1aba6;
    top: 1px;
    left: -1px;
    z-index: 0;
    border: none;
    font-style: normal;
}

.b-hotel-photogallery .section-item .b-img {
    border: 4px solid #fff;
    color: #dcdad8;
}

.b-hotel-photogallery .show-photo {
    display: block;
	text-decoration:none;
}

.b-hotel-photogallery .b-header_level_2 {
    font-size: 18px;
    color: #6e5539;
    text-align: center;
}

.b-hotel-photogallery .b-header_level_2 .b-link {
    font-size: 16px;
    color: #6e5539;
}

/* alfavit hotel styles */
.b-content__right_border_alfavit {
    border-top: 4px solid #a52522;
}

.b-menu-inner_hotel_alfavit {
    border-top: 4px solid #a52522;
}

.b-menu-inner_hotel_alfavit .b-menu-inner__link {
    color: #a52522;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_alfavit {
    border-top: 4px solid #a52522;
}

.b-header__subheader_hotel_alfavit {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #7d221d;
    font-size: 20px;
}

.b-content-column_hotel_alfavit {
    border-top: 4px solid #a52522;
}

.b-link_hotel_alfavit {
    color: #a52522 !important;
}

.b-bubblebox_hotel_alfavit {
    color: #a52522 !important;
}

/* dynasty hotel styles */
.b-content__right_border_dynasty {
    border-top: 4px solid #822f2a;
}

.b-menu-inner_hotel_dynasty {
    border-top: 4px solid #822f2a;
}

.b-menu-inner_hotel_dynasty .b-menu-inner__link {
    color: #822f2a;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_dynasty {
    border-top: 4px solid #822f2a;
}

.b-header__subheader_hotel_dynasty {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #7d221d;
    font-size: 20px;
}

.b-content-column_hotel_dynasty {
    border-top: 4px solid #822f2a;
}

.b-link_hotel_dynasty {
    color: #822f2a !important;
}

.services-dynasty .shown {
    color: #822f2a !important;
}

.services-alexander .shown {
    color: #4e4e4e !important;
}

.services-amsterdam .shown {
    color: #9e274c !important;
}

.services-alfavit .shown {
    color: #a52522 !important;
}

.services-regina .shown {
    color: #894a95 !important;
}

.services-eurasia .shown {
    color: #1165bd !important;
}

.services-vintage .shown {
    color: #822f2a !important;
}

.b-bubblebox_hotel_dynasty {
    color: #822f2a !important;
}

/* amsterdam hotel styles */
.b-content__right_border_amsterdam {
    border-top: 4px solid #9e274c;
}

.b-hotel-logo_hotel_amsterdam {
    border-top: 4px solid #9e274c;
}

.b-header__subheader_hotel_amsterdam {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #9e274c;
    font-size: 20px;
}

.b-content-column_hotel_amsterdam {
    border-top: 4px solid #9e274c;
}

.b-link_hotel_amsterdam {
    color: #9e274c !important;
}

.b-bubblebox_hotel_amsterdam {
    color: #9e274c !important;
}

/* regina styles */
.b-content__right_border_regina {
    border-top: 4px solid #894a95;
}

.b-menu-inner_hotel_regina {
    border-top: 4px solid #894a95;
}

.b-menu-inner_hotel_regina .b-menu-inner__link {
    color: #894a95;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_regina {
    border-top: 4px solid #894a95;
}

.b-header__subheader_hotel_regina {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #894a95;
    font-size: 20px;
}

.b-content-column_hotel_regina {
    border-top: 4px solid #894a95;
}

.b-link_hotel_regina {
    color: #894a95 !important;
}

.b-bubblebox_hotel_regina {
    color: #894a95 !important;
}

/* alexander styles */
.b-content__right_border_alexander {
    border-top: 4px solid #d7b56d;
}

.b-menu-inner_hotel_alexander {
    border-top: 4px solid #d7b56d;
}

.b-menu-inner_hotel_alexander .b-menu-inner__link {
    color: #4e4e4e;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_alexander {
    border-top: 4px solid #d7b56d;
    background: none;
}

.b-hotel-logo .logo {
    position: relative;
}


.b-content-column_hotel_alexander {
    border-top: 4px solid #d7b56d;
}

.b-link_hotel_alexander {
    color: #4e4e4e !important;
}

.b-bubblebox_hotel_alexander {
    color: #4e4e4e !important;
}

/* vintage styles */
.b-content__right_border_vintage {
    border-top: 4px solid #d7b56d;
}

.b-menu-inner_hotel_vintage {
    border-top: 4px solid #d7b56d;
}

.b-menu-inner_hotel_vintage .b-menu-inner__link {
    color: #822f2a;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_vintage {
    border-top: 4px solid #d7b56d;
}

.b-header__subheader_hotel_vintage {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #822f2a;
    font-size: 20px;
}

.b-content-column_hotel_vintage {
    border-top: 4px solid #d7b56d;
}

.b-link_hotel_vintage {
    color: #822f2a !important;
}

.b-bubblebox_hotel_vintage {
    color: #822f2a !important;
}

/* eurasia styles */
.b-content__right_border_eurasia {
    border-top: 4px solid #1165bd;
}

.b-menu-inner_hotel_eurasia {
    border-top: 4px solid #1165bd;
}

.b-menu-inner_hotel_eurasia .b-menu-inner__link {
    color: #1165bd;
    text-shadow: 0 0 1px #ffffff;
}

.b-hotel-logo_hotel_eurasia {
    border-top: 4px solid #1165bd;
}

.b-hotel-logo .b-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    top: 0;
    left: 0;
    z-index: 0;
    border: none;
    font-style: normal;
    background: url(/images/search-form.png) 0 0 no-repeat;
}

/* new year */
.b-hotel-logo .b-gradient {
background: url("../images/bg-form-header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}




.b-hotel-logo .b-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    font: 0/0 Arial;
    -webkit-box-shadow: 0px 3px 5px #000;
    -moz-box-shadow: 0px 3px 5px #000;
    box-shadow: 0px 3px 5px #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 0;
    border: none;
    font-style: normal;
}

.b-header__subheader_hotel_eurasia {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #1165bd;
    font-size: 20px;
}
.services-eurasia .b-header__subheader_hotel_eurasia a {
color: #1165bd;
}
.b-content-column_hotel_eurasia {
    border-top: 4px solid #1165bd;
}

.b-link_hotel_eurasia {
    color: #1165bd !important;
}

.b-bubblebox_hotel_eurasia {
    color: #1165bd !important;
}

.b-service-item {
    float: left;
    width: 205px;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #151515;
    margin: 20px 20px 0 0;
}

.b-service-item p {
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #151515;
    margin-top: 5px;
}

.b-header_level_3 {
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-transform: none;
    color: #6e5539;
    font-size: 18px;
}

.b-form-more tr td:last-child {
    display: block;
}

/* rooms */
.b-book-button {
    display: inline-block;
    height: 28px;
    padding: 0 4px 0 0;
    background: url(/images/book-button.png) right -28px no-repeat;
    font: 11px/11px Tahoma;
    color: #ffffff;
    position: relative;
    z-index: 9;
}

.b-book-button span {
    display: inline-block;
    height: 21px;
    padding: 7px 16px 0 21px;
    background: url(/images/book-button.png) left 0 no-repeat;
    cursor: pointer;
}

.b-book-button:hover {
    background-position: right -84px;
}

.b-book-button:hover span {
    background-position: left -56px;
}

.b-rooms-list {
    position: relative;
    list-style-type: none;
}

.b-rooms-list .w-shadow {
    margin: 5px 22px 0 0;
    z-index: 1;
}

.b-rooms-item {
    padding: 20px 0 0 0;
}

.b-rooms-item:first-child {
    padding: 0;
}

.b-rooms-item__image {
    width: 218px;
    border: 3px solid #ffffff;
}

.b-rooms-item__photo-icon {
    display: block;
    width: 97%;
    height: 96%;
    position: absolute;
    left: 0;
    top: 0;
    /*background: url(/images/photo-icon.png) 180px 103px no-repeat;*/
    background: url(/images/zoom-icon.png) 100% 100% no-repeat;
}

.b-rooms-item__book {
    position: relative;
    padding: 11px 0 0 0;
    margin: 0 0 17px 0;
}

.b-rooms-item__price {
    position: relative;
    font: 11px/6px Tahoma;
    color: #151515;
}

.b-rooms-item__price b {
    font: 18px/10px Georgia;
    color: #634b2f;
}

.b-rooms-item__price span {
    font: 12px/6px Tahoma;
}

.b-rooms-item__book .b-book-button {
    position: absolute;
    right: 39px;
    top: 14px;
}

.b-rooms-item .description {
    font: 12px/18px Tahoma;
    color: #151515;
}

.b-rooms-item__divider {
    width: 675px;
    height: 1px;
    margin: 26px 0 0 0;
    background: url(/images/separator_bg.png) repeat-x;
}

.b-rooms-additional {
    margin: 21px 0 20px 0;
    font: 12px/18px Tahoma;
    color: #151515;
}

.b-rooms-additional b {
    font: 18px/10px Georgia;
    color: #634b2f;
}

.b-book-button_margin_bottom {
    margin-bottom: 20px;
}

.b-table_price_rooms {
    font-family: Tahoma, sans-serif;
    border-top: 4px solid #96836c;
    margin: 55px 0 20px 0;
    width: 100%;
	border-spacing:0;
}

.b-table_price_rooms .mark {
    color: #9e274c;
}

.b-table_price_rooms thead th {
    font-size: 11px;
    color: #151515;
    font-weight: bold;
    padding: 11px 15px 14px 15px;
    vertical-align: middle;
    background: url(/images/separator_bg.png) 0 100% repeat-x;
}

.b-table_price_rooms td {
    font-size: 11px;
    color: #151515;
    padding: 12px 15px 17px 15px;
    background: url(/images/separator_bg.png) 0 100% repeat-x;
    vertical-align: middle;
	
}

.b-table_price_rooms .b-table__caption {
    cursor: default;
    border-bottom: 1px dashed;
}

.b-table_price_rooms .b-table__category {
    padding: 0;
    font-size: 12px;
    color: #634b2f;
    background-color: #f7ede6;
    font-weight: bold;
}

.b-table_price_rooms .b-table__wrap {
    position: relative;
    z-index: 0;
    padding: 12px 15px 14px 15px;
}

.b-table_price_rooms .b-table__wrap:hover {
    z-index: 1;
}

.b-table_price_rooms .b-table__category .b-table__popup {
    display: none;
    position: absolute;
    left: -2px;
    top: 39px;
    padding: 15px;
    border: 1px solid #634b2f;
    border-radius: 3px;
    background: #ffffff;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    color: #151515;
}

.b-table_price_rooms .b-table__category:hover .b-table__popup {
    display: block;
}

.b-table_price_rooms .b-table__category .b-table__popup .w-shadow {
    margin-right: 15px;
}

.b-table_price_rooms .b-table__period {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.b-table_price_rooms .b-table__period.current {
    color: #634b2f;
    background-color: #f7ede6;
    position: relative;
}

.b-table_price_rooms .b-table__price {
    font-family: Georgia, Tahoma, sans-seriff;
    font-size: 18px;
    color: #634b2f;
    text-align: center;
    white-space: nowrap;
}

.b-table_price_rooms .b-table__price.current {
    background-color: #f7ede6;
}

.b-table_price_rooms .b-table__price_size_small {
    color: #634b2f;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.b-table_price_rooms .b-table__category_name_addplace {
    font-size: 11px;
    color: #151515;
    font-weight: bold;
}

.b-table_price_rooms .b-table__category.b-table__button {
    padding: 6px 13px 6px 15px;
    text-align: center;
}

.b-table_price_rooms .b-table__category_name_addplace {
    padding: 15px 15px 17px 15px;
}

.b-hotel-group-links {
    height: 100px;
    background: #ffffff;
}

.b-hotel-group-links__items {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.b-hotel-group-links__item {
    display: block;
    float: left;
    width: 160px;
    height: 100px;
    background: url(/images/hotel-group-links-all.png) 0 0 no-repeat;
}

.b-hotel-group-links__item.dynasty {
    background-position: 0 0;
}

.b-hotel-group-links__item.dynasty:hover,
.b-hotel-group-links__item.dynasty.selected {
    background-position: 0 -100px;
}

.b-hotel-group-links__item.en.dynasty {
    background-position: 0 -200px;
}

.b-hotel-group-links__item.en.dynasty:hover,
.b-hotel-group-links__item.en.dynasty.selected {
    background-position: 0 -300px;
}

.b-hotel-group-links__item.alexander {
    background-position: -160px 0;
}

.b-hotel-group-links__item.alexander:hover,
.b-hotel-group-links__item.alexander.selected {
    background-position: -160px -100px;
}

.b-hotel-group-links__item.en.alexander {
    background-position: -160px -200px;
}

.b-hotel-group-links__item.en.alexander:hover,
.b-hotel-group-links__item.en.alexander.selected {
    background-position: -160px -298px;
}

.b-hotel-group-links__item.amsterdam {
    background-position: -320px 0;
}

.b-hotel-group-links__item.amsterdam:hover,
.b-hotel-group-links__item.amsterdam.selected {
    background-position: -320px -100px;
}

.b-hotel-group-links__item.en.amsterdam {
    background-position: -320px -200px;
}

.b-hotel-group-links__item.en.amsterdam:hover,
.b-hotel-group-links__item.en.amsterdam.selected {
    background-position: -320px -302px;
}

.b-hotel-group-links__item.regina {
    background-position: -480px 0;
}

.b-hotel-group-links__item.regina:hover,
.b-hotel-group-links__item.regina.selected {
    background-position: -480px -100px;
}

.b-hotel-group-links__item.en.regina {
    background-position: -480px -200px;
}

.b-hotel-group-links__item.en.regina:hover,
.b-hotel-group-links__item.en.regina.selected {
    background-position: -480px -298px;
}

.b-hotel-group-links__item.eurasia {
    background-position: -640px 0;
}

.b-hotel-group-links__item.eurasia:hover,
.b-hotel-group-links__item.eurasia.selected {
    background-position: -640px -100px;
}

.b-hotel-group-links__item.en.eurasia {
    background-position: -640px -200px;
}

.b-hotel-group-links__item.en.eurasia:hover,
.b-hotel-group-links__item.en.eurasia.selected {
    background-position: -640px -300px;
}

.b-hotel-group-links__item.vintage {
    background-position: -800px 0;
}

.b-hotel-group-links__item.vintage:hover,
.b-hotel-group-links__item.vintage.selected {
    background-position: -800px -100px;
}

.b-hotel-group-links__item.en.vintage {
    background-position: -800px -200px;
}

.b-hotel-group-links__item.en.vintage:hover,
.b-hotel-group-links__item.en.vintage.selected {
    background-position: -800px -299px;
}

.b-hotel-group-links__item.alfavit {
    background-position: -960px 0;
}

.b-hotel-group-links__item.alfavit:hover,
.b-hotel-group-links__item.alfavit.selected {
    background-position: -960px -100px;
}

.b-hotel-group-links__item.en.alfavit {
    background-position: -960px -200px;
}

.b-hotel-group-links__item.en.alfavit:hover,
.b-hotel-group-links__item.en.alfavit.selected {
    background-position: -960px -300px;
}

.w-content-columns {
    width: 735px;
    margin: 20px 0 0 -20px;
}

.b-content-column {
    width: 225px;
    float: left;
    position: relative;
    margin: 0 20px 0 0;
    padding: 0 0 20px 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbf7', endColorstr='#faecdd');
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf7), to(#faecdd));
    background-image: -moz-linear-gradient(top, #fffbf7, #faecdd);
    background-image: -o-linear-gradient(top, #fffbf7, #faecdd);
}

.b-content-column .b-header_level_2 {
    margin-left: 20px;
}

.b-content-column .b-shadow-borders {
    z-index: 0;
}

.b-content-column .w-content {
    position: relative;
}

.b-content-column .b-divider {
    width: 100% !important;
    margin: 0 0 0 1px !important;
}

.b-rooms-preview-list {
    list-style-type: none;
    margin: 20px 20px 0 20px;
    font-size: 12px;
}

.b-rooms-preview-item {
    margin: 0 0 9px 0;
}

.b-rooms-preview-item__price {
    float: right;
}

.b-rooms-preview-item .b-link {
    float: left;
}

.b-services-preview {
    margin: 20px 20px 0 20px;
    list-style-type: disc;
    list-style-position: outside;
}

.b-services-preview-item {
    margin: 0 0 9px 10px;
}

.b-services-preview__button {
    margin: 9px 0 0 10px;
}

.b-photogallery-preview__image {
    width: 219px;
    border: 3px solid #ffffff;
}

.b-photogallery-preview__photo-icon {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/images/photo-icon-big.png) center center no-repeat;
}

.b-hotelmap {
    font-family: 'PT Sans', sans-serif;
    margin: 30px 0 0 0;
    border-top: 3px solid #1c3f9e;
    position: relative;
	width:225px;
    background: #f0f0f0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(/images/hotel_content_bg.png) repeat-x scroll 0 0 #f0f0f0;
}

.b-hotelmap .b-header_level_2 {
    margin-left: 20px;
}

.w-hotelmap {
    width: 219px;
    height: 125px;
    margin: 0 0 10px 0;
    border: 3px solid #ffffff;
}

.b-hotelmap .b-divider {
    margin: 0 0 0 1px;
}

.b-hotelmap__address {
    font-weight: bold;
}

.b-hotelmap__address,
.b-hotelmap__phone,
.b-hotelmap__email {
    font-size: 11px;
    line-height: 16px;
}

.b-hotelmap__email .b-link {
    text-decoration: none;
}

.b-hotel-items {
    padding: 10px 0 20px 0;
}

.b-bubblebox {
    display: inline-block;
    margin: 9px 0 9px 35px;
    position: relative;
    font: 18px/18px Georgia;
    color: #6e5539;
    border-bottom: 1px dashed #6e5539;
    cursor: pointer;
}

.b-bubblebox:hover {
    border: none;
    padding: 0 0 1px 0;
}

.b-bubblebox.shown {
    border: none;
}

.b-bubblebox.shown {
    padding: 0;
}

.b-bubblebox__container {
    margin: 0 0 0 10px;
    display: none;
}

.b-bubblebox__top {
    width: 668px;
    height: 15px;
    background: url(/images/bubblebox-top.png) 0 0 no-repeat;
}

.b-bubblebox__body {
    width: 638px;
    padding: 5px 15px 5px 15px;
    margin: 0;
    font: 12px/18px Tahoma;
    color: #151515;
    background: url(/images/bubblebox-body.png) 0 0 repeat-y;
}

.b-bubblebox__bottom {
    width: 668px;
    height: 12px;
    background: url(/images/bubblebox-bottom.png) 0 0 no-repeat;
}

.b-bubblebox__icon {
    display: inline-block;
    width: 24px;
    position: absolute;
    left: -35px;
    top: 0;
    background: url(/images/special-icons.png) no-repeat;
}

.b-bubblebox__icon.luggage {
    height: 20px;
    top: -2px;
    background-position: 0 0;
}

.b-bubblebox.shown .b-bubblebox__icon.luggage {
    background-position: -24px 0;
}

.b-bubblebox__icon.reception {
    height: 25px;
    top: -4px;
    background-position: 0 -22px;
}

.b-bubblebox.shown .b-bubblebox__icon.reception {
    background-position: -24px -22px;
}

.b-bubblebox__icon.map {
    height: 25px;
    top: -4px;
    background-position: 0 -45px;
}

.b-bubblebox.shown .b-bubblebox__icon.map {
    background-position: -24px -45px;
}

.b-bubblebox__icon.bookings {
    height: 25px;
    top: -4px;
    background-position: 0 -70px;
}

.b-bubblebox.shown .b-bubblebox__icon.bookings {
    background-position: -24px -70px;
}

.b-bubblebox__icon.theater {
    height: 25px;
    top: -4px;
    background-position: 0 -95px;
}

.b-bubblebox.shown .b-bubblebox__icon.theater {
    background-position: -24px -95px;
}

.b-bubblebox__icon.wi-fi {
    height: 25px;
    top: -3px;
    background-position: 0 -118px;
}

.b-bubblebox.shown .b-bubblebox__icon.wi-fi {
    background-position: -24px -118px;
}

.b-bubblebox__icon.safe {
    height: 25px;
    top: -5px;
    background-position: 0 -140px;
}

.b-bubblebox.shown .b-bubblebox__icon.safe {
    background-position: -24px -140px;
}

.b-bubblebox__icon.umbrella {
    height: 25px;
    top: -4px;
    background-position: 0 -165px;
}

.b-bubblebox.shown .b-bubblebox__icon.umbrella {
    background-position: -24px -165px;
}

.b-bubblebox__icon.taxi {
    height: 17px;
    background-position: 0 -190px;
}

.b-bubblebox.shown .b-bubblebox__icon.taxi {
    background-position: -24px -190px;
}

.b-bubblebox__icon.baby-bed {
    height: 25px;
    top: -4px;
    background-position: 0 -207px;
}

.b-bubblebox.shown .b-bubblebox__icon.baby-bed {
    background-position: -24px -207px;
}

.b-bubblebox__icon.library {
    height: 25px;
    top: -6px;
    background-position: 0 -230px;
}

.b-bubblebox.shown .b-bubblebox__icon.library {
    background-position: -24px -230px;
}

.b-bubblebox__icon.tea {
    height: 25px;
    top: -3px;
    background-position: 0 -257px;
}

.b-bubblebox.shown .b-bubblebox__icon.tea {
    background-position: -24px -257px;
}

.b-bubblebox__icon.visa {
    height: 25px;
    top: -4px;
    background-position: 0 -280px;
}

.b-bubblebox.shown .b-bubblebox__icon.visa {
    background-position: -24px -280px;
}

.b-bubblebox__icon.laundry {
    height: 25px;
    top: -5px;
    background-position: 0 -305px;
}

.b-bubblebox.shown .b-bubblebox__icon.laundry {
    background-position: -24px -305px;
}

.b-bubblebox__icon.room-service {
    height: 25px;
    top: -4px;
    background-position: 0 -330px;
}

.b-bubblebox.shown .b-bubblebox__icon.room-service {
    background-position: -24px -330px;
}

.b-bubblebox__icon.transfer {
    height: 25px;
    top: -1px;
    background-position: 0 -355px;
}

.b-bubblebox.shown .b-bubblebox__icon.transfer {
    background-position: -24px -355px;
}

.b-bubblebox__icon.cafe {
    height: 25px;
    top: -2px;
    background-position: 0 -380px;
}

.b-bubblebox.shown .b-bubblebox__icon.cafe {
    background-position: -24px -380px;
}

.b-bubblebox__icon.audio-guide {
    height: 25px;
    top: -4px;
    background-position: 0 -405px;
}

.b-bubblebox.shown .b-bubblebox__icon.audio-guide {
    background-position: -24px -405px;
}

.b-bubblebox__icon.guide {
    height: 25px;
    top: -4px;
    background-position: 0 -430px;
}

.b-bubblebox.shown .b-bubblebox__icon.guide {
    background-position: -24px -430px;
}

.b-bubblebox__icon.meeting {
    height: 25px;
    top: -5px;
    background-position: 0 -455px;
}

.b-bubblebox.shown .b-bubblebox__icon.meeting {
    background-position: -24px -455px;
}

.b-bubblebox__icon.bicycle {
    height: 25px;
    top: -3px;
    background-position: 0 -477px;
}

.b-bubblebox.shown .b-bubblebox__icon.bicycle {
    background-position: -24px -477px;
}

.b-bubblebox__icon.parking {
    height: 25px;
    top: -4px;
    background-position: 0 -500px;
}

.b-bubblebox.shown .b-bubblebox__icon.parking {
    background-position: -24px -500px;
}

.b-bubblebox__icon.pool {
    height: 25px;
    top: -4px;
    background-position: 0 -545px;
}

.b-bubblebox.shown .b-bubblebox__icon.pool {
    background-position: -24px -545px;
}

.b-menu-inner__list_count_6 .b-menu-inner__item {
    padding: 0 5px;
}

.b-menu-inner__list_count_6 .b-menu-inner__item:first-child {
    padding: 0 6px;
}

.b-menu-inner__list_count_6.b-menu-inner__list_hotel_amsterdam .b-menu-inner__item:first-child {
    padding: 0 8px;
}

.b-menu-inner__list_count_6.b-menu-inner__list_hotel_regina .b-menu-inner__item:first-child {
    padding: 0 8px;
}

.b-menu-inner__list_count_6.b-menu-inner__list_hotel_dynasty .b-menu-inner__item:first-child {
    padding: 0 8px;
}

.b-menu-inner__list_count_6.b-menu-inner__list_hotel_eurasia .b-menu-inner__item {
    padding: 0 8px;
}

.b-restaurant {
    position: relative;
}

.b-restaurant p b {
    color: #000000;
}

.b-restaurant .with-margin {
    display: block;
    margin-bottom: 5px;
}

.b-restaurant .big-margin {
    margin-bottom: 20px;
}

.b-restaurant p.margin-reduced {
    display: block;
    margin-bottom: 0;
}

.b-restaurant .b-divider {
    width: 100% !important;
    margin: 20px 0 15px 0 !important;
}

.b-restaurant h2 {
    margin-bottom: 5px;
}

.b-restaurant__left {
    width: 230px;
    float: left;
}

.b-restaurant__left .w-shadow {
    margin-bottom: 34px;
}

.b-restaurant__left p {
    position: relative;
    margin: 0 0 21px 32px;
    font: 11px/15px Tahoma;
}

.b-restaurant__icon {
    display: inline-block;
    width: 24px;
    position: absolute;
    left: -32px;
    background: url(/images/restaurant-sprite.png);
}

.b-restaurant__icon.capacity {
    height: 24px;
    top: -4px;
    background-position: 0 0;
}

.b-restaurant__icon.marker {
    height: 27px;
    top: -4px;
    left: -31px;
    background-position: 0 -24px;
}

.b-restaurant__icon.schedule {
    height: 25px;
    top: -2px;
    left: -31px;
    background-position: 0 -50px;
}

.b-restaurant__right {
    width: 427px;
    float: right;
}

.w-social {
    float: left;
    margin: 20px 0 0 75px;
}

.w-social .contacts-item {
    width: 90px;
    float: none;
}

.b-comment-small {
    font-size: 12px;
}

.b-cafe__photos {

}

.b-cafe__photos .w-shadow {
    margin: 0 5px 0;
}

.b-cafe__photos .b-img {
    width: 208px;
}
.b-hotel-group-links__items {
    position: relative;
}

.b-hotel-group-links__container {
    overflow: hidden;
}

.b-hotel-group-links__arrow {
    width: 23px;
    height: 40px;
    position: absolute;
    top: 30px;
    background: url(/images/links-arrows.png) 0 0 no-repeat;
}

.b-hotel-group-links__arrow_left {
    left: -33px;
    background-position: 0 0;
}

.b-hotel-group-links__arrow_right {
    right: -33px;
    background-position: -24px 0;
}

.uppercase {
    text-transform: uppercase;
}

.text-centerer {
    text-align: center;
    margin-top: 5px;
}

.b-menu-inner__link {
    padding: 0 0px !important;
}

li.item .anonce {
    display: table-cell !important;
    vertical-align: middle !important;
    height: 40px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: static !important;
    top: auto !important;
}

li.item .w-anonce {
    display: table !important;
    height: 40px !important;
    bottom: 3px !important;
    top: auto !important;
    width: 217px !important;
}

.page_main li.item .b-img {
    width: 205px;
}

.page_main li.item .w-anonce {
    width: 205px !important;
}

.b-specoffers_page_second.page_main .list .item {
    margin-left: 20px;
}

.official-site {
    width: 210px !important;
}

.b-footer .address {
    width: 168px !important;
}

.b-footer p.weather {
    text-align: right;
}

.b-menu-inner__item > span {
    display: none;
    background-color: #790606;
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 28px;
    z-index: 0;
    border-radius: 4px;
    line-height: 14px;
    box-shadow: -1px -1px 0px 0px #c8c4c2;
}

.b-menu-inner__item.active > span {
    display: block;
}

.b-menu-inner__item.active a {
    color: #fff !important;
    position: relative;
    text-shadow: none;
}

.b-menu-inner__item.active a:hover {
    text-decoration: none;
}

.b-menu-inner_type_hotel .b-menu-inner__item {
    position: relative;
}

.selected_hotel_dynasty {
    background-color: #822f2a !important;
}

.selected_hotel_alexander {
    background-color: #d7b56d !important;
}

.selected_hotel_amsterdam {
    background-color: #9e274c !important;
}

.selected_hotel_alfavit {
    background-color: #a52522 !important;
}

.selected_hotel_regina {
    background-color: #894a95 !important;
}

.selected_hotel_eurasia {
    background-color: #1165bd !important;
}

.selected_hotel_vintage {
    background-color: #d7b56d !important;
}

.b-hotel-logo .address.search {
    font-size: 20px;
    font-family: Georgia, "Century Schoolbook L", Serif;
    text-align: left;
    padding-left: 18px;
    padding-top: 10px;
}



.b-page_type_hotel .b-hotelmap {
    margin: 0 0 30px 0 !important;
}

.b-page_type_hotel .b-hotelmap p {
    margin: 10px 20px;
}

.b-page_type_hotel #map-colorbox {
    bottom: 0;
    top: auto;
    /*background: url(http://eurasia-hotel.ru/images/zoom-it.png) 183px 74px no-repeat;*/
}

.b-page_type_hotel .b-specoffers_page_second.page_main {
    margin-top: 20px;
}

.b-table__period {
    position: relative;
}

.b-table__period div {
    position: absolute;
    width: 100%;
    top: -4px;
    left: -2px;
    border: 2px solid #96836c;
}

.b-currancy-rate {
    text-align: right !important;
}

.b-footer {
    width: 980px !important;
    height: auto !important;
}

.b-book-button_position_left {
    position: relative !important;
    right: auto !important;
    top: auto !important;
}

.official-site {
    float: left !important;
    font-size: 11px !important;
    width: 194px !important;
    margin-top: 3px !important;
}

.b-tripadvisor {
    float: left !important;
    margin: 0 10px !important;
}

.b-tripadvisor_hotel_regina {
    padding-top: 14px;
}

.b-tripadvisor.b-tripadvisor_hotel_dynasty img {
    width: 135px;
}

.b-tripadvisor.b-tripadvisor_hotel_regina img {
    width: 132px;
}

.b-tripadvisor.b-tripadvisor_hotel_regina2 img {
    width: 147px;
}

.b-tripadvisor.b-tripadvisor_2015 {
    padding-top: 5px;
}

.b-tripadvisor.b-tripadvisor_2015 img {
    width: 105px;
}


.b-subfooter {
    width: 980px !important;
    margin: 2px auto !important;
    margin-bottom: 25px !important;
}

.b-travelline {
    text-align: right !important;
    padding: 0 29px 0 0 !important;
    font-size: 11px !important;
    float: right !important;
    width: 300px !important;
    position: relative !important;
    top: auto !important;
    right: auto !important;
}

.b-travelline__link {
    display: inline-block !important;
    font-size: 11px !important;
}

.b-travelline__ico {
    display: inline-block !important;
    background: url(/images/b-travelline.jpg) no-repeat !important;
    vertical-align: middle !important;
    margin: 0 -29px 0 5px !important;
    position: relative !important;
    text-decoration: none !important;
    width: 26px !important;
    height: 26px !important;
    top: auto !important;
}

.b-tripadvisor_hotel_regina {
    padding-top: 16px;
}

.b-footer {
    padding-top: 9px !important;
}

.weather {
    font-size: 11px !important;
    color: #1C3F9E !important;
    text-align: left !important;
    margin-top: 3px !important;
}

.b-currancy-rate {
    color: #1c3f9e !important;
    font-size: 11px !important;
    font-family: Tahoma, sans-serif !important;
    margin-top: 8px !important;
}

.b-travelline-mobile {
    text-align: right !important;
    margin-top: 7px !important;
    position: relative !important;
    top: auto !important;
    right: auto !important;
    float: right !important;
}

.weather {
    font-size: 11px;
    color: #1C3F9E;
    text-align: left;
    margin-top: 3px;
}

.weather-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    margin: 0 2px 0 7px;
    width: 35px;
    height: 35px;
    background: url(/images/weather.png) 100px 100px no-repeat;
}

.weather__data {
    float: right;
    margin-top: 4px;
}

.weather__current {
    float: left;
    text-align: right;
    margin-top: -5px;
}

.weather__night {
    float: left;
    text-align: left;
    margin-top: 1px;
}

.weather__icon {
    float: left;
    margin-top: -4px;
}

.weather__city {
    float: right;
    margin-top: 3px;
    color: #000;
}

.b-travelline-mobile__link {
    display: block !important;
    padding: 8px 25px 0 0 !important;
    background: url('/images/mobile-ico.png') no-repeat scroll 100% 3px !important;
    height: 20px !important;
}

.w-footer {
    height: auto !important;
}

.b-subfooter p {
    font-size: 11px !important;
    float: left;
}

.b-form {
    overflow: hidden;
}

.b-form.hidden {
    display: none !important;
}

.b-form.state-shown {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
}

.b-form .row {
    width: 100%;
    margin: 20px 0 0 0;
}

.b-form .row .field {
    float: left;
    width: 50%;
    margin: 0;
}

.b-form .row .field > * {
    display: table-cell;
    vertical-align: top;
}

.b-form .row .field:first-child .name {
    text-align: left;
}

.b-form .row .field:only-child {
    width: 100%;
}

.b-form .row .name {
    width: 120px;
    text-align: center;
}

.b-form .row:first-child {
    margin-top: 0;
}

.b-form .field {
    display: table;
    width: 100%;
    margin: 25px 0;
}

.b-form h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.b-form .input {
    width: 100%;
    height: 30px;
    padding: 0 0 0 6px;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #941c1c;
    border-radius: 4px;
    box-sizing: border-box;
}

.b-form .input:hover, .b-form .input:focus {
    background-color: #f3f0ec;
}

.b-form .input.select {
    display: block;
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
}

.b-form .input.select select {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 1;
    opacity: 0;
}

.b-form textarea.input {
    height: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 18px;
    resize: none;
}

.b-form .name {
    display: block;
    line-height: 30px;
    text-align: left;
}

.b-form .important .name:after {
    content: '*';
    color: #943330;
}

.b-form .error {
    position: relative;
}

.b-form .error:before {
    height: 24px;
    position: absolute;
    left: 0;
    bottom: -25px;
    padding: 0 5px;
    border-radius: 3px;
    font: 12px/24px 'Arial', sans-serif;
    font-weight: normal;
    color: #c60d04;
    background: #eee8e0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    content: attr(data-error);
}

.b-form .error:after {
    position: absolute;
    bottom: -2px;
    left: 10px;
    border-bottom: 6px solid #eee8e0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: ' ' !important;
}

.b-form .submit {
    padding: 10px 0 0 120px;
    font-size: 12px;
}

.b-form .submit .b-button {
    margin-top: 6px;
    margin-right: 20px;
    font-size: 12px;
    float: left;
    color: #fff;
    border: none;
    border-bottom: 1px solid #b4a796;
    border-radius: 3px;
    background: #d8ccbe;
    background: url('/bitrix_personal/templates/hotel/data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodò?²EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
    background: -moz-linear-gradient(top, #d8ccbe 0%, #927f67 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8ccbe), color-stop(100%, #927f67));
    background: -webkit-linear-gradient(top, #d8ccbe 0%, #927f67 100%);
    background: -o-linear-gradient(top, #d8ccbe 0%, #927f67 100%);
    background: -ms-linear-gradient(top, #d8ccbe 0%, #927f67 100%);
    background: linear-gradient(to bottom, #d8ccbe 0%, #927f67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ccbe', endColorstr='#927f67', GradientType=0);
    line-height: 26px;
    padding: 0 19px;
    height: 26px;
    display: inline-block;
    box-shadow: 0 0 0 1px #fff;
    cursor: pointer;
}

.b-form .submit .b-button:hover {
    background: #927f67; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url('/bitrix_personal/templates/hotel/data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyN2Y2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGNjYmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
    background: -moz-linear-gradient(top, #927f67 0%, #d8ccbe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #927f67), color-stop(100%, #d8ccbe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #927f67 0%, #d8ccbe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #927f67 0%, #d8ccbe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #927f67 0%, #d8ccbe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #927f67 0%, #d8ccbe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#927f67', endColorstr='#d8ccbe', GradientType=0); /* IE6-8 */
}

.bx-chrome .b-form input[type=date], .bx-chrome .b-form input.type-date {
    padding-right: 0;
}

.bx-chrome .b-form input[type=date]:hover, .bx-chrome .b-form input[type=date]:focus, .bx-chrome .b-form input.type-date:hover, .bx-chrome .b-form input.type-date:focus {
    background-image: none;
}

.b-menu-inner__item {
    float: left;
    list-style-type: none;
    margin: 0 23px;
}
.b-menu-inner__link {
    color: #1c3f9e;
    display: block;
    font-family: Tahoma,"Geneva CY",sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 0 1px #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
}
.b-menu-inner__link:hover {
    text-decoration: underline;
}

.customvirtual_tour {margin-bottom:20px;}

.b-hotel-photogallery img {width:202px; height:132px; }
